#all{
	width:100%;
	height: 1280px;
	/*background-color: pink;*/
}
#usrbar{
	height: 19px;
    text-align: right;
}
#usrbar ul{
	list-style-type: none;
    margin: 0;
    zoom: 1;
}
#usrbar li{
	float: right;
    margin-left: 16px;
    color: #c5bbbb;
}
#usrbar a{
    text-decoration: none;
    color: #666;
}
#usrbar a:hover{
    color: #2f3c9c;
}
#pass{
    color: #304e80;
}
#pass:hover{
    background-color:#304e80;
    color: white;
}
#header{
    width: 100%;
    height: 165px;
   /* background-color:#666;*/
    overflow: hidden;
}
#logo{
    width: 945px;
    margin: 0 auto;
    height: 90px;
}
#logo img{
    width: 140px;
    height: 50px;
    float: left;
}
#mid{
     width: 560px;
     height: 90px;
     float: left;
}
#mid1{
     width: 550px;
     height: 22px;
}
#mid1 ul{
     list-style-type: none;
     margin: 0;
     zoom: 1;
     overflow: hidden;
}
#mid1 li{
     margin-right: 18px;
     float: left;
     color:black; 
}
#mid1 a{
    text-decoration: none;
    color:#555;
}
#mid1 a:hover{
    text-decoration: underline;
}
#mid2{
     width: 558px;
     height: 35px;
}
#mid2 input{
    margin-left: 15px;
    width: 433px;
    height: 27px;
}
#mid2 button{
    width: 100px;
    height: 33px;
}
#mid3{
     margin-left: 35px;
     width: 490px;
     height: 30px;
}
#mid3 a{
    text-decoration: none;
    color:#555;
    font-size: 13px;
}
#help{
     width: 241px;
     height: 90px;
     float: left;
     border: 1px solid black;
}
#body{
     width: 1000px;
     margin: 0 auto;
     height:1111px;
    /* background-color: red;*/
}
#left{
     width: 440px;
     height:1111px;
     margin: 0;
     float: left;
    /* background-color: blue;*/
}
#top{
     width: 390px;
     height:39px;
     margin-left: 38px;
    /* background-color: red;*/
}
#top ul{
    list-style-type: none;
    margin: 0;
    zoom: 1;
    overflow: hidden;
    padding: 0px;
    border-bottom: 1px solid #bfb3b3;
}
#top li{
    float: left;
    font-size: 22px;
    margin-right: 10px;
    color: #c5bbbb; 
}
#top a{
    text-decoration: none;
    color: #666;    
}
.c1{
    border-bottom: 2px solid #2F63BA;
}
#hotnews{
    width: 440px;
    height: 206px;
   /* background-color: red;*/
}
#hotnews ul{
     list-style-type: none;
     margin: 0;
     zoom: 1;
}
#hotnews li{
    margin-top: 2px;
}
#hotnews a{
     text-decoration: none;
     color: black;
}
.hdline0{
   font-size: 19px;
   margin-bottom: 8px;
}
.hdline1{
   font-size: 10px;
   margin-bottom: 22px;
}
.hdline2{
   font-size: 19px;
   margin-bottom: 8px;
}
.hdline3{
   font-size: 10px;
   margin-bottom: 22px;
}
.hdline4{
   font-size: 19px;
   margin-bottom: 8px;
}
.hdline5{
   font-size: 10px;
   margin-bottom: 20px;
}
.u1{
    list-style-type: none;
}
.u1 a{
     text-decoration: none;
}
.cl1{
    font-size: 18px;
    margin-bottom: 15px;
}
.cl2{
    font-size: 14px;
    margin-bottom: 8px;
}
.u1 a:hover{
    text-decoration: underline;
    color: #888;
}
#right{
     width: 560px;
     height:1111px;
     margin: 0;
     float: left;
     background-color: red;
}
.pic{
    width: 560px;
    height:315px;
}
.pic img{
     width: 560px;
    height:315px;
}
