body {
    font-family: "微软雅黑";
    margin:0;
    padding:0;
    background-color: #fbfbfc;
}
#all{
	width:100%;
	height: 1320px;
}
#usrbar{
    width: 1329px;
    height: 19px;
    text-align: right;
    margin-top: 10px;
    font-size: 12px;
}
#usrbar ul{
	list-style-type: none;
    margin: 0;
    zoom: 1;
}
#usrbar li{
	float: right;
    margin-left: 16px;
    color: #c5bbbb;
}
#usrbar a{
    text-decoration: none;
    color: #666;
}
#usrbar a:hover{
    color: #2f3c9c;
}
#pass{
    color: #304e80;
}
#pass:hover{
    background-color:#304e80;
    color: white;
}
#header{
    width: 1333px;
    height: 155px;
    overflow: hidden;
}
#logo{
    width: 945px;
    margin: 0 auto;
    height: 90px;
    margin-bottom: 10px;
}
#logo img{
    width: 140px;
    height: 50px;
    float: left;
    position: relative;
    top: 6px;
    left: -13px;
}
#mid{
     width: 550px;
     height: 90px;
     float: left;
}
#mid1{
     width: 550px;
     height: 25px;
}
#mid1 ul{
     list-style-type: none;
     margin: 0;
     zoom: 1;
     overflow: hidden;
}
#mid1 li{
    font-size: 14px;
     margin-right: 18px;
     float: left;
     color:black; 
}
#mid1 a{
    text-decoration: none;
    color:#555;
}
#mid1 a:hover{
    text-decoration: underline;
}
#mid2{
     width: 558px;
     height: 35px;
}
#mid2 input{
    width: 433px;
    height: 27px;
}
#mid2 button{
    width: 100px;
    height: 33px;
    position: relative;
    left: -1px;
}
#mid3{
    width: 490px;
    height: 30px;
    margin-top: 5px;
}
#mid3 a{
    text-decoration: none;
    color:#555;
    font-size: 13px;
}
#help{
     width: 241px;
     height: 90px;
     float: left;
}
#null{
     width: 237px;
     height: 24px;
}
#help2{
     width: 237px;
     height:22px;
     margin-top: 10px;
}
#help2 ul{
     list-style-type: none;
     margin: 0;
     zoom: 1;
     overflow: hidden;
}
#help2 li{
     float: left;
     margin-left: 5px;
    font-size: 12px;
}
#help2 a{
    font-size: 13px;
    text-decoration: none;
}
#help2 a:hover{
    text-decoration: underline;
}
#help3{
     width: 237px;
     height:38px;
}
#help3 img{
    width: 200px;
    height: 20px;
    float: right;
    margin-top: 14px;
}
ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
}

.b_nav_wrap{
    width: 100%;
    background: #01204f;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.b_nav{
    width: 1000px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    font-family: arial, 'Hiragino Sans GB', 'Microsoft Yahei', 微软雅黑, 宋体, Tahoma, Arial, Helvetica, STHeiti;
    position: relative;
    margin: 0 auto;
}
.b_nav_li{
    display: inline-block;
    height: 100%;
    padding: 0 10px;
    cursor: pointer;
    position: relative;
}
.b_nav_li_active{
    background: #cc0000;
}
.ani_red{
    position: absolute;
    left: 0;
    background: #cc0000;
    height: 40px;
    padding: 0;
    transition: left 0.3s,width 0.3s;
    transition-timing-function: ease-in-out;
    display: none;
}

.about{
    margin-top: 50px;
}
/*#menu{
    width: 100%;
    height: 30px;
    background-color: #01204f;
    border: 1px solid black;
}
#menu-mid{
    min-width: 850px;
    text-align: center;
    width: 984px;
    margin: 0 auto;
    height: 30px;
}
#menu-mid div{
    font-size: 14px;
    padding-right: 17px;
    height: 29px;
    display: inline-block;
    font-weight: bold;
}
#menu-mid a{
    color: white;
    text-decoration: none;
}
#menu-mid div:hover{
    background-color: red;
}
.menu2{
    background-color: red;
}*/
#body{
     width: 1000px;
     margin: 0 auto;
     height:1111px;
}
#left{
     width: 440px;
     height:1111px;
     margin: 0;
     float: left;
}
#top{
     width: 390px;
     height:39px;
     /*margin-left: 38px;*/
}
#top ul{
    list-style-type: none;
    margin: 0;
    zoom: 1;
    overflow: hidden;
    padding: 0px;
    border-bottom: 1px solid rgb(229,229,229);
}
#top li{
    float: left;
    font-size: 18px;
    margin-right: 20px;
    padding-bottom: 10px;
    color: #c5bbbb; 
}
#top a{
    text-decoration: none;
    color: #666;    
}
.c1{
    border-bottom: 2px solid #2F63BA;
}

#hotnews{
    width: 390px;
    height: 205px;
    border-bottom: 1px dotted #ccc;
    margin-bottom: 5px;
}
#hotnews ul{
     list-style-type: none;
     margin: 0;
     zoom: 1;
}
#hotnews li{
    padding-left: 10px;
    line-height: 24px;
    color: #222;
}
#hotnews a{
     text-decoration: none;
     color: black;
}
.hdline0{
   font-size: 18px;
   padding-top: 12px;
   margin-bottom: 1px;
}
#hotnews .dot{
    position: relative;
    top: 16px;
    left: -10px;
    display: block;
    width: 5px;
    height: 5px;
    background: #da4453;
}
#hotnews a:hover {
    text-decoration: underline;
}
.hdline1{
   font-size: 12px;
}
.u1{
    list-style-type: none;
}
.u1 a{
     text-decoration: none;
     color: black;
}
.cl1{
    font-size: 16px;
    padding: 8px 0 5px 10px;
}
.cl1 span{
    position: relative;
    top: 15px;
    left: -10px;
    display: block;
    width: 5px;
    height: 5px;
    background: #7195b7;
}
.cl2{
    font-size: 14px;
    height: 27px;
    line-height: 27px;
    padding-left: 8px;
}
.cl2>i{
    position: relative;
    top: 15px;
    left: -8px;
    display: block;
    width: 3px;
    height: 3px;
    background: #7195b7;
}
.u1 a:hover{
    text-decoration: underline;
    color: #222282;
}
#right{
     width: 560px;
     height:1111px;
     margin: 0;
     float: left;
}
.pic{
    width: 560px;
    height:315px;
}
.pic img{
     width: 560px;
    height:315px;
}
#news-hotwords{
    width: 560px;
    height: 224px;
}
#hd-line{
    width: 560px;
    height: 28px;
    padding-top: 14px;
}
#hd-line h3{
    float: left;
    margin: 0;
}
#hd-line h3>a{
    color: #254282;
    text-decoration: none;
}
#hd-line > a{
        float: right;
        color: #999;
        font-size: 12px;
        text-decoration: none;
        padding-top: 6px;
}
#hd-line span{
        font: 500 12px/18px arial,sans-serif;
        color: #999;
        padding-left: 10px;
        position: relative;
}
.fix {
     overflow: hidden;
     margin-top: 5px;
}
.fix ul{
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.fix li{
        float: left;
        overflow: hidden;
        font-size: 12px;
        text-align: center;
        background: #3064bb;
        width: 110px;
        height: 88px;
        margin: 1px;
}
.fix li:hover{
         background: #85a9e8;
}
.fix li:first-child{
        width: 176px;
}
.fix li:first-child a,.windNews .two a{
         font-size: 16px;
}
.fix .two{
        width: 156px;
}
.fix li a{
        color: #fff;
        text-decoration: none;
        font-size: 11px;
        display: block;
        padding-top: 28px;
        font-weight: 700;
}
#title-home{
    width: 560px;
    height: 43px;
    border-bottom: 1px solid #ccc;
}
#title-home,#title-home>div {
        overflow: hidden;
}
#title-home>div{
        float: left;
        padding-top: 17px;
        padding-left: 10px;
}
#title-home ul{
    list-style-type: none;
}
#title-home li{
        float: left;
        padding: 0 5px;
        border-right: 1px solid #ccc;
        height: 18px;
        line-height: 18px;
}
#title-home li a{
        font-size: 14px;
        color: #304e80;
        text-decoration: none;
}
#title-home li a:hover{
    text-decoration: underline;
}
#title-home h3{
        float: left;
    font-size: 16px;
}
#title-home h3 a{
         color: #254282;
         text-decoration: none;
}
#title-home h3 a:hover{
    text-decoration: underline;
}
#title-home span{
          float: left;
          font: 500 12px/18px arial,sans-serif;
          color: #999;
          padding-left: 10px;
          position: relative;
          top: 3px;
          margin-top: 16px;
}
#title-home > a{
            float: right;
            color:#ff4200;
            font-size: 12px;
            text-decoration: none;
            padding-top: 18px;
            font-weight: 600;
}
#home-left{
    width: 240px;
    height: 335px;
    float: left;
    margin-top: 15px;
    margin-right: 26px;
}
#home-right{
    width: 290px;
    height: 305px;
    float: left;
   margin-top: 10px;
}
.ulist1{
    list-style-type: none;
    padding: 0;
    border-bottom: 1px dotted #999;
    margin-bottom: 10px;
    height: 155px;
}
.ulist1 li{
    /*margin-bottom: 8px;*/
    height: 28px;
    line-height: 28px;
}
.ulist1 a{
    text-decoration: none;   
}
.href1{
    font-size: 14px;
     color: black;
}
.href1:hover{
    text-decoration: underline;
    color: #3064BB;
}
.href2{
    font-size: 12px;
    float: right;
    color: #999;
}
.href2:hover{
    text-decoration: underline;
}
.ulist2{
    list-style-type: none;
    padding: 0;
}
.ulist2 li{
    /*margin-bottom: 8px;*/
    height: 28px;
    line-height: 28px;
}
.ulist2 a{
    text-decoration: none;   
}
.fbb{
    width: 124px;
    height: 130px;
    float: left;
    margin-top: 15px;
}
.fbb a{
    text-decoration: none;
}
.txt1{
    font-size: 12px;
}
.txt1:link{
    text-decoration: none;
}
.txt1:hover{
    background-color: blue;
}
#focu{
    width: 560px;
    height: 215px;
    overflow: hidden;
}
#focu-left{
    width: 240px;
    height: 200px;
    overflow: hidden;
    float: left;
}
.focu-left-h3 {
    margin: 0;
    font-size: 16px;
    margin-bottom: 11px;
}
.bai{
    font: 500 12px/18px arial,sans-serif;
}
#focu-right{
    width: 290px;
    height: 172px;
    overflow: hidden;
    margin-left: 26px;
    float: left;
}
#focu-right div{
    /*border-bottom: 1px solid #666;*/
}
#db{
    width: 290px;
    height: 140px;
    overflow: hidden;
}
#enter{
    position: absolute;
    width: 395px;
    top: 30px;
    left: 426px;
    height: 360px;
    z-index: 60001;
    visibility: hidden;
    background-color: #fff;
}
#enter-head{
    width: 393px;
    height: 47px;
}
#enter-head button{
	border: 0;
}
.mySpan{
    font-size: 25px;
    color: #666;
    position: absolute;
}
#divbtn{
    width: 25px;
    height: 25px;
    float: right;
}
#divmid{
    margin: 0 auto;
    width: 351px;
    height: 310px;
}
.duanxin{
    width: 351px;
    height: 60px;
}
.duanxin span{
    margin-top: 23px;
    float: right;
}
.duanxin a{
    text-decoration: none;
    color: #666;
}
.duanxin a:hover{
    text-decoration: underline;
    color: #3064BB;
}
.input1{
    margin-bottom: 23px;
    width: 348px;
    height: 38px;
}
.input2{
    width: 348px;
    height: 38px;
}
.zidong{
    width: 351px;
    height: 24px;
    margin-top: 13px;
}
.zidong span{
    font-size: 14px;
    color: #666;
}
.zidong a{
    float: right;
    text-decoration: none;
}
.zidong a:hover{
    text-decoration: underline;
}
#submit{
    width: 352px;
    height: 44px;
    margin-top: 6px;
    background-color: blue;
}
#submit span{
    margin-left: 145px;
    font-size: 20px;
    color: white;
    line-height: 40px;
}
#submit a{
    text-decoration: none;
}
#zhuce{
    width: 350px;
    height: 20px;
    margin-top: 6px;
}
#zhuce span{
    float: right;
}
#zhuce a{
    text-decoration: none;
}
/*.b_nav_li a{

}
.b_nav_li ul{
	list-style-type: none;
    z-index: 200;
    height: 90px;
    position: absolute;
    padding: 0;
    background-color: #01204f;
}
.b_nav_li li{
	width: 43px;
	line-height: 30px;
}
.b_nav_li li:hover{
	background-color:#3064bb 
}
.keji{
	display: none;
}
.b_nav_li:hover .keji{
    display: block;
}*/
.erweima{
	width: 113px;
    z-index: 15;
    position: absolute;
    top: 29px;
    right: 111px;
    display: none;
}
.ke:hover .erweima{
	display: block;
}
.bg{
	width: 100px;
    height: 19px;
    background: url(image/bg.png),no-repeat;
    position: relative;
    left: 275px;
    background-position-y: 20px;
    top: 10px;
}
